<!-- <p>card works!</p> -->

<div class="container rounded-3 bg-light p-3">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-6 justify-content-center">
    @for (meal of validMeals; track meal.idMeal) {
      <div class="card m-3" style="width: 18rem;" data-bs-toggle="modal" [attr.data-bs-target]="'#mealModal' + meal.idMeal">
        <img [src]="meal.strMealThumb" class="card-img-top" alt="{{ meal.strMeal || 'Meal image' }}">
        <div class="card-body">
          <h5 class="card-title">{{ meal.strMeal }}</h5>
          <h6 class="card-subtitle my-2 text-body-secondary">Instrucciones</h6>
          <p class="card-text text-truncated">{{ meal.strInstructions }}</p>
        </div>
      </div>
    }
  </div>

  <!-- Modales fuera del grid -->
  @for (meal of validMeals; track meal.idMeal) {
    <div class="modal modal-lg fade" id="mealModal{{ meal.idMeal }}" tabindex="-1" aria-labelledby="mealModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="mealModalLabel">{{ meal.strMeal }}</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body container-fluid">
            <div class="row w-100">
              <div class="col-md4 col-lg-6">
                <img [src]="meal.strMealThumb" class="img-fluid" alt="{{ meal.strMeal || 'Meal image' }}">
              </div>
              <div class="col-lg-6">
                <h3 class="card-subtitle">Ingredientes</h3>
                <ul class="container-fluid w-100">
                  @for (i of getIngredientKeys(meal); track i) {
                    @if (meal[i] && meal[i] !== '') {
                      <li class="ms-2">
                        {{ meal[i] }} - {{ meal['strMeasure' + i.slice(13)] }}
                      </li>
                    }
                  }
                </ul>
              </div>
              <div class="container-fluid">
                <h4 class="card-subtitle my-2">Instrucciones</h4>
                <p class="card-text">{{ meal.strInstructions }}</p>

                <h4 class="card-subtitle my-2">Preparación</h4>
                @if (safeYoutubeUrl(meal.strYoutube); as youtubeUrl) {
                  <div class="ratio ratio-16x9">
                    <iframe [src]="youtubeUrl" class="embed-responsive-item" allowfullscreen></iframe>
                  </div>
                } @else {
                  <p class="text-muted mb-0">Video no disponible.</p>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  }
</div>
