<!-- <p>card works!</p> -->

<div class="container rounded-3 bg-light p-3">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-6 justify-content-center">
    <div *ngFor="let meal of meals" class="card m-3" style="width: 18rem;">
      <img [src]="meal.strMealThumb" class="card-img-top" alt="{{ meal.strMeal }}">
      <div class="card-body">
        <h5 class="card-title">{{ meal.strMeal }}</h5>
        <a href="{{ meal.strYoutube }}" class="card-link">youtube.com</a>
      </div>
    </div>
  </div>
</div>
