<!-- <p>header works!</p> -->
 
<div class="container-fluid d-flex flex-column justify-content-center min-vh-100">
  <header class="fw-bold text-center mb-5">
    <h1>The Meal Restaurant</h1>
  </header>
  <div class="container-fluid d-flex justify-content-center">
    <main class="row gap-3 mt-5 max-vw-50">
        <button type="button" class="btn btn-dark btn-lg" routerLink="/name">Buscar por Nombre</button>
        <button type="button" class="btn btn-dark btn-lg" routerLink="/letter">Buscar por Letra</button>
        <button type="button" class="btn btn-dark btn-lg" routerLink="/random">Buscar Aleatorio</button>
    </main>
  </div>
</div>
